<!-- <pre><code>{{post | json }}</code></pre> -->
<article class="detail">
<a href="/" ng-show="post.categories == 2" class="back-button"><img src="http://nadyascreatures.com/images/back-to-projects-arrow.jpg"></a>
<a href="#/other-projects" ng-show="post.categories == 3" class="back-button"><img src="http://nadyascreatures.com/images/back-to-projects-arrow.jpg"></a>

<h2 class="project-title">{{post.title.rendered}}</h2>
<!--    <p>{{post.acf.main_image}}</p> -->
<!--    <img ng-src="{{post.acf.main_image}}"> -->
   <div ng-bind-html="post.content.rendered | to_trusted" class="content-images"></div>

</article>