img {
	width: 100%;
	height: auto;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}
a, a:visited {
	text-decoration: none;
}
ul, li {
	padding: 0;
	list-style: none;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.site-header {
	background: white;
	z-index: 20;
	position: fixed;
    .site-title {
        width: 95%;
        @include break(60.625em) {
        	margin-left: auto;
        	margin-top: 1em;
        	margin-bottom: 2em;
        }
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    .site-title:hover {
    	@include break(60.625em) {
    	    -webkit-filter: blur(2px);
    	}
    }
    width: 100%;
    @include break(60.625em) {
    	width: 40%;
    }
    .main-navigation {
    	display: none;
    	min-height: 17em;
    	.thin, .bold {
    		margin-left: 4em;
    	}
    	.bold {
    		display: none;
    	}
    	.fashion-icon img, .other-projects-icon img, .about-cv-icon img {
    		height: 4em;
    		width: auto;
    		margin-right: 10em;
    	}
    	.fashion-icon:hover, .other-projects-icon:hover, .about-cv-icon:hover {
    		.thin {
    			display: none;
    		}
    		.bold {
    			display: block;
    		}
    	}
    }
    .contact-details {
    	display: none;
    	text-align: center;
    	.email img, .tel-number img {
    		margin-top: 1em; 
    	}
    	.email img {
            height: 1.5em;
            width: auto;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }
        .tel-number img {
            height: 1em;
            width: auto;
        }
        .email:hover {
        	img {
        	    -webkit-filter: blur(2px);
            }
        }
    }
}
/*--------------------------------------------------------------
# Site-content
--------------------------------------------------------------*/
.site-content {
	width: 100%;
	position: relative;
	overflow: hidden;
	@include break(60.625em) {
		width: 55%;
	    left: 40%;
	    margin-left: 2.5%;
	    margin-right: 2.5%;
	}
	.project-icon {
		position: relative;
    	width: 80%;
    	margin: 1em auto;
    	@include break(60.625em) {
    		float: left;
    		width: 40%;
    		margin: 1em 0.5em;
    	}
    	img {
    		-webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
    	}
    	.overlay {
    		width: 100%;
        	height: 100%;
        	position: absolute;
        	top: 40%;
    		opacity: 0;
    		-webkit-transition: opacity 1s ease-in-out;
            -moz-transition: opacity 1s ease-in-out;
            -ms-transition: opacity 1s ease-in-out;
            -o-transition: opacity 1s ease-in-out;
            transition: opacity 1s ease-in-out;
            .project-icon-title {
        		text-align: center;
        	}
    	}
    }
    .project-icon:hover {
    	img {
    	    -webkit-filter: blur(5px);
    	    opacity: 0.5;
        }
        .overlay {
        	opacity: 1;
        }
    }
}
/*--------------------------------------------------------------
# Project
--------------------------------------------------------------*/
article.detail {
	margin-top: 2.5em;
	h2.project-title {
		width: 69%;
		margin-right: 5%;
		display: inline-block;
		text-align: right;
		margin-top: 1em;
		margin-bottom: 0.5em;
	}
	.content-images {
		text-align: center;
	}
	.content-images p img {
		@include break(60.625em) {
            width: 80%;
            margin-left: 10%;
        }
		margin-top: 2em;
	}
	.back-button {
		width: 10%;
		margin-left: 15%;
		text-align: left;
		display: inline-block;
		img {
		    width: 3em;
		    -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
		}
	}
	.back-button:hover {
		img {
			-webkit-filter: blur(2px);
		}
	}
}
/*--------------------------------------------------------------
# Project
--------------------------------------------------------------*/
.about-page {
	@include break(60.625em) {
		margin-top: 8em;
		width: 80%;
		margin-left: 15%;
		margin-right: 5%;
	}
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
	text-align: center;
	width: 100%;
	position: relative;
	@include break(60.625em) {
		width: 47%;
	    left: 50%;
	    margin-top: 5em;
	    margin-bottom: 1em;
	}
}